.section-blog-news{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    margin-bottom: 0;
}
.blog-news-text{
    max-width: 400px;
}

.blog-news-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-news-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-games img{
    width: 100%;
    background-size: cover;
    object-fit: cover;
    max-width: 400px;
}

.blog-news-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Titillium Web' , sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.blog-news-title p{
    margin: 10px;
}

.blog-news-title p:nth-child(2n){
    color: #ffc311;
}
.blog-news-title p:nth-child(2n+1){
    color: #282828;
}
