.section-games{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner-section-games{
    width: 65%;
}

.categorized-games{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.categorized-games div{
    border: 1px solid #ffc311;
    padding: 15px;
    margin: 10px;
}

.categorized-games div:hover{
    background-color: #ffc311;
    color: white;
    transition: 0.5s;
}
.games-active{
    background-color: #ffc311;
    color: white;
}

.sorted-games{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.gameBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
}

.gameBox-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.gameBox-img img{
    width: 100%;
    background-size: cover;
    object-fit: cover;
    max-width: 250px;
}
.gameBox-textDiv{
    max-width: 250px;
}

.gameBox-title{
    font-size: 1.1rem;
    line-height: 1.769rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.gameBox-text{
    color: #999999;
    height: 52px;
    overflow: hidden;
    font-size: 15px;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-overflow-scrolling: touch;
}

