@import url("./header.css");
@import url("./three-box.css");
@import url("./section-games.css");
@import url("./game-search.css");
@import url("./about-cloux.css");
@import url("./featured-games.css");
@import url("./blog-news.css");
@import url("./game-shop.css");
@import url("./social-links.css");
@import url("./section-footer.css");

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  /* * {
    box-sizing: border-box;
  } */

  .slider {
      width: 100%;
      margin: 0 auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    height: calc(100vh);
    object-fit: cover !important;
    background-size: cover !important;
  }

  .slick-dots{
      bottom: 25px !important;
      z-index: 10;

  }
  .slick-dots li button::before{
      font-size: 20px !important;
      color: white !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 00px !important;
}

.slick-list{
  height: 100%;
}
.slick-track{
  height: 100vh;
}

section{
  margin-bottom: 50px;
}

.title-slider{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-slider p{
  position: relative;
  width: fit-content;
  margin: 0;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  padding-bottom: 30px;
}

.header-btn{
  font-size: 1rem;
}

.title-slider .bottom-text-button{
  justify-content: center;
}

